.applicationModal{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;
    height: 100%;
    padding: 24px;
    background: white;
    z-index: 999;

    header{
        display: flex;
        flex-direction: column;

        > div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            > button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                background-color: unset;
                border: none;
            }
            
            > h2{
                font-size: 18px;
            }
            
            > span{
                color: #0F6499;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    > div{
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 100%;

        > p{
            font-size: 16px;
            font-weight: 500;
        }
    } 
}