* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100vw;
  width: 100dvw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
span,
a,
li,
button {
  color: #2A2A2F;
  line-height: 1.4;
}

ul, ol {
  list-style: none;
}