.homeBgPresentation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  height: 699px;
  padding: 0 48px;
  overflow: hidden;

  h1{
    color: #FFFFFF;
    font-size: 66px;
    text-align: end;
    text-wrap: balance;
  
    @media (max-width: 1024px) {
      font-size: 21px;
      text-align: center;
      line-height: 1.4;
    }
  }

  h1 br{
    @media (max-width: 1024px) {
      display: none;
    }
  }

  p {
    color: #E0E0E0;
    font-size: 36px;
    font-weight: 600;
  
    @media (max-width: 1024px) {
      width: 100%;
      font-size: 16px;
      text-align: center;
      text-wrap: balance;
    }
  }

  @media (max-width: 1024px) {
    gap: 12px;
    height: 600px;
    padding: 0 12px;
  }
}

.logoWrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 699px;
  z-index: -1;

  @media (max-width: 1024px) {
    height: 600px;
  }
}

.logo{
  width: 100%;
  object-fit: cover;
}
