.homeBgPresentation {
  position: relative;
  justify-content: center;
  align-items: flex-end;
  height: 699px;
  padding: 0 48px;
  overflow: hidden;

  .logoWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 699px;
    z-index: -1;
  
    .logo{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1{
    color: #FFFFFF;
    font-size: 42px;
    text-align: end;
    text-wrap: balance;
    letter-spacing: 1.25px;
  }

  p {
    color: #E0E0E0;
    font-size: 30px;
    font-weight: 600;
  }

  a{
    display: none;
  }

  @media (max-width: 1024px) {
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 600px;
    padding: 0 12px;

    .logoWrapper{
      width: 100%;
      height: 100%;
    }

    h1{
      font-size: 22px;
      text-align: center;
      line-height: 1.4;

      br{
        display: none;
      }
    }

    p{
      font-size: 18px;
      text-align: center;
      text-wrap: balance;
    }

    a{
      display: flex;
      height: 48px;
      margin-top: 50px;
      padding: 6px 24px;
      border-radius: 6px;
      background-color: #0F6499;
      color: #FFFFFF;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-decoration: none;
      transition: 0.2s ease;

      &:hover{
        background-color: #0F6499;
        color: #FFFFFF;
        transition: 0.2s ease;
      }
    }
  }
}