.contactUs{
    padding: 36px 24px;
    border-bottom: 1px solid #E0E0E0;
  
    h2{
        font-weight: 600;
    }
  
    > p{
        color: #2A2A2F80;
        font-weight: 500;
        text-align: center;
    }
  
    > div{
        gap: 36px;
        margin-top: 24px;
  
        ul{
            li, li > a{
                align-items: center;
    
                a{
                    font-size: 16px;
                    font-weight: 600;
                    text-decoration: unset;
        
                    span{
                        font-size: 14px;
                        font-weight: 400;
                        color: darkblue;
                    }
                }
            }
        }
  
        > span{
            align-items: center;
            gap: 18px;
    
            p{
                font-size: 18px;
                font-weight: 600;
        
                b{
                    color: #0F6499;
                }
            }
            
            div{
                display: flex;
                gap: 12px;
            }
        }
    }
  
    @media (min-width: 1024px) {
        > div{
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;
    
            ul{
                align-items: flex-start;
            
                li{
                    flex-direction: row;
                    gap: 12px;
        
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                    
                    a{
                        align-items: flex-start
                    }
                } 
            } 
        }
    }
}